langchain==0.3.23
langchain-anthropic==0.3.10
langchain-huggingface==0.1.2
langchain-teddynote==0.3.40
streamlit==1.41.1
jupyter==1.1.1
notebook==7.3.2
langgraph==0.3.28
python-dotenv==1.0.1
langchain-community==0.3.21
faiss-gpu==1.7.2
flashrank
